body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #1e232a;
}

.navbars {
  /*flex-grow: 1;*/
  background-color: #2a2e34;
}

.navbar-1 {
  height: 50px;
}

.navbar-2 {
  height: 35px;
  border-top: 0.5px solid #7b7b7b;
  border-bottom: 0.5px solid #7b7b7b;
}

.content {
  display: flex;
  flex-grow: 1;
  margin: 20px 25px 10px 25px;
  overflow-x: auto;
}

.status-container {
  display: flex;
  flex-grow: 1;
  gap: 24px;
  padding: 0 16px;
}

.status {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
}

.status-bar {
  background-color: #30353c;
  border-top: 4px solid #7b7b7b;
  border-radius: 5px;
  flex-shrink: 0;
  height: 30px;
  box-shadow: 0 4px 8px 0 #00000033;
}

.task-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 20px;
  padding-right: 10px;
}

.task {
  background-color: #30353c;
  border-radius: 5px;
  flex-shrink: 0;
  margin-top: 12px;
  min-width: 200px;
  height: 100px;
  box-shadow: 0 4px 8px 0 #00000033;
}

.task:first-child {
  margin-top: 0;
}
