body {
  height: 100vh;
  background-color: rgb(30, 35, 42);
}

.navbars {
  position: sticky;
  top: 0;
  background-color: rgb(42, 46, 52);
}

.navbar-1 {
  height: 50px;
}

.navbar-2 {
  height: 35px;
  border-top: 0.5px solid rgb(123, 123, 123);
  border-bottom: 0.5px solid rgb(123, 123, 123);
}

.content {
  margin: 5px 25px;
  overflow-x: auto;
}

.status-container {
  display: flex;
  flex-direction: row;
}

.status {
  display: block;
}

.status-bar {
  background-color: rgb(48, 53, 60);
  border-top: 4px solid rgb(123, 123, 123);
  border-radius: 5px;
  flex-shrink: 0;
  margin: 10px 10px 35px 10px;
  padding: 5px;
  width: 235px;
  height: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.task-container {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  height: 400px;
  margin-right: 10px;
}

.task {
  background-color: rgb(48, 53, 60);
  border-radius: 5px;
  flex-shrink: 0;
  margin: 5px 0 5px 10px;
  padding: 5px;
  width: 210px;
  height: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
